
<mat-card>
    <mat-card-header>
        <mat-card-title > {{ post.title }} </mat-card-title>
    
    </mat-card-header>
    <mat-card-content>
        <h3>{{ post.publisher }}</h3>
        <p>
           {{post.body}}
        </p>
    </mat-card-content>
    <mat-accordion>
        
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title style="font-weight: 700;">
              Comentarios
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list role="list">

            <mat-card *ngFor="let comentario of post.comments">
                <mat-card-header>
                    <mat-card-title > {{ comentario.name }} </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p style="text-transform: capitalize;">
                        {{ comentario.body }} 
                    </p>
                    <p style="text-align: end;">
                        {{ comentario.email }} 
                    </p>
                </mat-card-content>
            </mat-card>

            <!-- <mat-list-item   role="listitem">
                {{comentario.name}}
            </mat-list-item> -->
           
          </mat-list>
          <!-- <p>I'm visible because I am open</p> -->
        </mat-expansion-panel>
      </mat-accordion>
</mat-card>
